extends ./layout/index 
block slider
    .slider 
        h1 Rio de Janeiro
        em Aventura
block paginaInicial
    main.container.mt-5
        h2.text-center-mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem obcaecati tempore quas illum illo ipsa eligendi doloremque tenetur officiis sapiente cum vel sunt, natus quod, assumenda repudiandae, voluptatibus id labore?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi adipisci odit minima perferendis debitis, minus, nihil ullam fugit harum tenetur voluptas natus. Quas maiores assumenda odio doloribus consequuntur, at soluta.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo
                        p.precio $2,500 USD
    .container.mt-5
        h1.text-center.mb-5 Testimoniales
        include ./layout/bloque_testimoniales
