extends ./layout/index 
block paginaInicial
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et tortor quis arcu interdum tempus sed vitae eros. Pellentesque efficitur elit et augue facilisis, id blandit enim cursus. Nulla luctus, metus vitae iaculis mattis, lacus diam fermentum lacus, eget dictum purus odio sed massa. Mauris quis purus sed nisi laoreet pellentesque. Donec suscipit dignissim lacus, et convallis turpis aliquam eget. 

                p Dorci ante, ultrices non sapien ac, dictum maximus nibh. In rutrum congue nibh, consectetur tempor orci tincidunt eget. Vestibulum dapibus hendrerit accumsan. Sed venenatis neque est, ut laoreet enim congue non. Vestibulum dapibus hendrerit accumsan. Sed venenatis neque est, ut laoreet enim congue non. 

                p Proin incidunt orci non lectus imperdiet tristique. Sed sed scelerisque lacus. Praesent nec quam ac purus pellentesque commodo et vulputate leo. Aliquam maximus sapien dictum condimentum malesuada. Proin eu vulputate sem. Vestibulum iaculis rhoncus lorem.Vestibulum dapibus hendrerit accumsan. Sed venenatis neque est, ut laoreet enim congue non. 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin eu vulputate sem. Vestibulum iaculis rhoncus lorem.Vestibulum dapibus hendrerit accumsan. Sed venenatis neque est, ut laoreet enim congue non. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Proin eu vulputate sem. Vestibulum iaculis rhoncus lorem.Vestibulum dapibus hendrerit accumsan. Sed venenatis neque est, ut laoreet enim congue non. 
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Proin eu vulputate sem. Vestibulum iaculis rhoncus lorem.Vestibulum dapibus hendrerit accumsan. Sed venenatis neque est, ut laoreet enim congue non. 